

.form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    top: 150px;
    flex-direction: row;
    width: 500px;
    height: 500px;
    padding: 20px;
    background: white;
}

.add-user-h{
    margin: 10px 50px;
}

.form-input{
    width: 200px;
    height: 40px;
    margin: 30px;
    border: solid, black;
    border-radius: 5%;
}
.save-user{
    background: rgb(48, 48, 221);
    padding: 7px;
    color: white
}



